{% extends "base.html" %}
{% block title %}Тест завершен{% endblock %}
{% block content %}
  <div class="container row" style="height: 500px">
    <div class="card text-center my-auto mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Тест "{{ poll.title }}" пройден</h5>
        <p class="card-text">Правильных ответов {{ result.correct }} из {{ result.done }}</p>
        <a href="{% url 'polls:index' %}" class="btn btn-primary">На главную</a>
      </div>
    </div>
  </div>
{% endblock %}
