{% extends "base.html" %}
{% block title %}{{ question.text }}{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
  <form
      {% if question.next.id %}
      action="{% url 'polls:polling' poll_id question.next.id %}"
      {% elif finish %}
      action="{% url 'polls:finish' poll_id%}"
      {% endif %}
      method="POST">

    <input type="hidden" name="csrfmiddlewaretoken" value="">{% csrf_token %}
    <div class="card text-center border-primary" style="width: max-content">
    <div class="card-body">
      <div class="card-header" style="border-radius: 50px">{{ question.text }}</div>
      <ul class="list-group">
	      {% for answer in form.answers %}
          <li class="list-group-item" style="margin: 10px; outline: black solid 1px;">
            {{ answer }}
	        </li>
	      {% endfor %}
      </ul>
  <div>
    <input type="submit" value="OK" class="btn btn-primary">
  </div>
    </div>
    </div>
  </form>
  </div>
{% endblock %}


