asgiref==3.6.0
Django==4.1.7
django-grappelli==3.0.4
django-nested-admin==4.0.2
gunicorn==20.1.0
Pillow==9.4.0
psycopg2-binary==2.9.5
python-dotenv==1.0.0
python-monkey-business==1.0.0
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.3
